/*Déclaration des polices de caractères */
@font-face {
    font-family: 'raleway';
    src: url('../font/Raleway-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}
/* Description des propiétés commune de la page */
body{
    font-family: 'raleway' , sans-serif;
    margin: 0;
    padding: 0;
}

#bloc_page{
    width: 95%; 
    margin: auto;
}

h1{
    font-size: 1.3em;
    font-weight: bold;
}

p{
    font-size: 0.9em;
}

h2{
    font-size: 1.1em;
    font-weight: bold;
}

.conteneur, aside, footer{
    background-color: #F2F2F2;
}

.titre{
    font-weight: bold;
    font-size: 1.2em;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Mise en place du header */
header, nav ul{
    display: flex;
    justify-content: space-between;
}

header{
    margin-top: 10px;
}

nav{
    width: 40%;
}

nav a{
    color: #0065FC ;
}

nav a[href*="hebergement"]{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 15px;
}

nav a[href*="activite"]{
    color: black;
}

/*Mise ne place de la partie recherche*/
.titre{
    margin-bottom: 5px;
}

.description{
    margin-top: 0;
}

form{
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    width: 300px;
    background-color: #F2F2F2;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
}

form input{
    border: 0;
    text-align: center;
    font-weight: bold;
}

form i{
    margin: auto;
    padding-right: 6px;
}

form input[type="button"]{
    color: white;
    background-color: #0065FC;
    border-radius: 0 8px 8px 0;
}


.filtre, .filtre ul, .filtre a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtre{
    width: 80%;
}

.filtre ul{
    font-weight: bold;
    width: 100%;
}

.filtre h2{
    font-size: 1em;
}


.filtre a{
    border: #F2F2F2 solid 1px;
    border-radius: 25px;
    padding: 0px 15px 0 0;
    color: black;
    font-weight: bold;
}

.filtre i{
    color: #0065FC;
    background-color:  #DEEBFF;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
}

.filtre a:hover{
    background-color: #DEEBFF;
    box-shadow: 2px 2px 3px #0065FC;
}

.fa-info{
    border: #F2F2F2 1px solid;
    color: #0065FC;
    padding: 5px 10px;
    border-radius: 100%;
}

.recherche p{
    margin-top: 0;
}

/*Mise en place de la section hebergement */

#hebergement{
    display: flex;
    height: 600px;
}

#hebergement h1{
    font-size: 1.3em;
    font-weight: bold;
}

#hebergement h2{
    font-size: 0.9em;
    font-weight: bold;
}

span{
    font-weight: bold;
}

.conteneur{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    margin-right: 30px;
    border-radius: 15px;
    padding: 0 15px;
}

.logement{
    display: flex;
    justify-content: space-between;
    height: 215px;
    margin-bottom: 30px;
}


.logement a{
    color: #000;
    background-color: white;
    width: 30%;
    height: 100%;
    padding: 5px;
    border-radius: 15px;
}

.logis{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logis img{
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
}

.logis h2{
    margin-bottom: 0;
}

.logis p{
    margin: 0;
}

.logis .etoile{
    color: #0065FC;
    justify-self: baseline;
}

.plus{
    margin-top: 0;
    margin-bottom: 15px;
}

/*Mise en place de la partie aside(populaire) dans la section hebergement */
aside{
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    flex: 1;
}

aside h1{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 0 25px;
}

aside a{
    width: 85%;
    height: 22%;
    text-decoration: none;
    color: black;
    margin: auto;
}

.populaire{
    height: 100%;
    background-color: white;
    width: 100%;
    display: flex;
    border-radius: 15px;
    padding: 5px;
}

aside img{
    object-fit: cover;
    width: 40%;
    border-radius: 15px 0 0 15px;
}


.pop{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.pop h2{
    margin-bottom: 0;
}

.pop p{
    margin: 0;
}

aside .etoile{
    margin-top: auto; 
    color: #0065FC;
}


/*Mise en place de la section activité */


#activite a{
    color: black;
}

.bloc_general{
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.bloc_general .bloc, .bloc_general> a{
    width: 23%;
}

.grande{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.grande img{
    object-fit: cover;
    width: 100%;
    height: 87%;
    border-radius: 15px 15px 0 0 ;
}

.grande h2, .bloc h2{
    font-size: 0.9em;
    margin-left: 15px;
}

.activite1{
    height: 225px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.activite2{
    height: 150px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.activite3{
    height: 150px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.activite4{
    height: 225px;
    border-radius: 15px;
}

.activite1 img{
    object-fit: cover;
    width: 100%;
    max-height: 85%;
    border-radius: 15px 15px 0 0;
}
.activite1 h2{
    margin-top: 5px;
}

.activite2 img{
    object-fit: cover;
    width: 100%;
    height: 66%;
    border-radius: 15px 15px 0 0;
}

.activite3 img{
    object-fit: cover;
    width: 100%;
    height: 66%;
    border-radius: 15px 15px 0 0;
}

.activite4 img{
    object-fit: cover;
    width: 100%;
    height: 77%;
    border-radius: 15px 15px 0 0;
}

div[class*="activite"], .grande{
    box-shadow:-5px 5px 5px 0px #F2F2F2, 
                5px 5px 5px 0px #F2F2F2;
}


/*Mise en place du footer */

footer{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.pied{
    width: 30%;
    margin-left: 50px;
}

.pied ul{
    padding-left: 0;
}

.pied a{
    color: black;
}

.pied li{
    line-height: 200%;
}


